     <div class="home-cat">
         <a routerLink="/product/details/{{id}}" >
        <div class="card main-overlay">
            <img class="card-img-top" src="{{imageUrl}}/{{image}}" alt="Card image cap">
            <div class="overlay fixed"></div>
            <div class="overlay">
                <div class="overlay-body">
                    <div class="times">
                        <span><i class="fa fa-calendar"></i> {{time | timeAgo}}</span>
                        <span><i class="fa fa-clock-o"></i> {{time | date:"hh:mm a"}}</span>
                    </div>
                    <div class="tags">
                        <a *ngFor="let tag of (tags || '').split(',')"><span>{{tag}}</span>.</a>
                        <!-- <span>Fashion</span>.
                        <span>Cars</span> -->
                    </div>
                    <div class="star">
                        <i *ngFor="let star of [] | range:5-0" class="fa fa-star{{(star<=rate)?'':'-o'}}"></i>
                    </div>
                </div>
            </div>
            <h5 class="card-title">{{title}}</h5>
            <div class="card-body">
                <div class="row">
                    <div class="container c-title">
                        <div class="float-left"><span class="price-after"><i class="fa fa-eur"></i> {{price}}</span></div>
                        <div class="float-right">
                            <span class="price-before"><i class="fa fa-eur"></i>  {{bprice}}</span> 
                            <span class="percent"> {{(bprice-price)/bprice | percent}} off</span>
                        </div>

                    </div>
                </div>
                <div class="progressbar">
                    <div class="container">
                        <div class="float-left"><span class="progress-left">{{ "MeTooKey Remained" | translate }}</span></div>
                        <div class="float-right"><span class="progress-right">{{orders}}</span></div>
                        <!-- <progress value="{{orders}}" max="{{total}}"></progress> -->
                        <input disabled type="range" [min]="0" [max]="total" [step]="1" [value]="orders" 
                        [ngStyle]="{'background-image':'-webkit-gradient( linear, '+(translate.currentLang=='ar'?'right':'left')+' top, '+(translate.currentLang=='ar'?'left':'right')+' top, color-stop('+(orders/total)+', #b97ef3), color-stop('+(orders/total)+', #C5C5C5) )'}">
                        </div>
                </div>
            </div>
        </div>
    </a>
    </div>
 