// component css goes here
.view-account{padding:15px;}
.view-account span{
    color:#777;
}
.view-account .icon-status-block{
    position: absolute;
    top: 9px;
    right: 7px;
    opacity: 0.7;
}
.view-account .notes{
    height: 70px;
}

.include-users .include-users-content:hover {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    //box--shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
     box-shadow: none !important;
}