// component css goes here
.list-product{
    padding:20px 0;
}
.original_price{
    text-decoration: line-through;
    color: #999;
}

.list-product button, input, optgroup, select, textarea{
    border-color: #ccc;
    color: #777;
}

