<div class="clearfix"></div>
<div class="row counter-section">
    <div class="container ">
            <ul class="row list-inline">
                
                <li class="list-inline-item text-center col-sm">
                    <img src="assets/images/all_products.png" class="" alt=""/>
                    <h1 class="counter" id="counter1" attr.data-count="{{(counter.all_products||0)|number}}">0</h1>
                    <p>{{"MeTooKeys"}}</p>
                </li>
                <li class="list-inline-item text-center col-sm">
                    <img src="assets/images/success_quantity.png" class="" alt=""/>
                    <h1 class="counter" id="counter2" attr.data-count="{{(counter.success_quantity||0)|number}}">0</h1>
                    <p>{{"Success MeTooKeys"}}</p>
                </li>
                <li class="list-inline-item text-center col-sm">
                    <img src="assets/images/success_orders.png" class="" alt=""/>
                    <h1 class="counter" id="counter3" attr.data-count="{{(counter.success_oreders||0)|number}}">0</h1>
                    <p>{{"Success Orders"}}</p>
                </li>
                <li class="list-inline-item text-center col-sm">
                    <img src="assets/images/online_users.png" class="" alt=""/>
                    <h1 class="counter" id="counter4" attr.data-count="{{(counter.online_users||0)|number}}">0</h1>
                    <p>{{"Online Users"}}</p>
                </li> 
                <li class="list-inline-item text-center col-sm">
                    <img src="assets/images/all_users.png" class="" alt=""/>
                    <h1 class="counter" id="counter5" attr.data-count="{{(counter.all_users||0)|number}}">0</h1>
                    <p>{{"Users"}}</p>
                </li>
                
               
            </ul>
    </div>
</div>