<!--component html goes here -->
<!-- <div class="sidebar">
    <a routerLinkActive="active" routerLink="/dashboard/home" href="#"><i class="fa fa-home"></i><span class="d-sm--none"> {{ "Home" | translate }}</span></a>
    <a routerLink="/dashboard/accounts/list" routerLinkActive="active"  href="#"><i class="fa fa-users"></i><span class="d-sm--none"> {{ "Members" | translate }}</span></a>
    <a routerLink="/dashboard/product/list" routerLinkActive="active" href="#"><i class="fa fa-maxcdn"></i><span class="d-sm--none"> {{ "Products" | translate }}</span></a>
    <a routerLink="/dashboard/view-requests" routerLinkActive="active" href="#"><i class="fa fa-tasks"></i><span class="d-sm--none"> {{ "Leads" | translate }}</span></a>
    <a routerLink="/dashboard/orders/waiting" routerLinkActive="active" href="#"><i class="fa fa-tasks"></i><span class="d-sm--none"> {{ "Orders" | translate }}</span></a>
    <a routerLink="/dashboard/setting" routerLinkActive="active" href="#"><i class="fa fa-cogs"></i><span class="d-sm--none"> {{ "Setting" | translate }}</span></a>
    <a routerLink="/dashboard/category" routerLinkActive="active" href="#"><i class="fa fa-tags"></i><span class="d-sm--none"> {{ "Category" | translate }}</span></a>
    <a routerLink="/dashboard/city" routerLinkActive="active" href="#"><i class="fa fa-map-marker"></i><span class="d-sm--none"> {{ "City" | translate }}</span></a>
    <a routerLink="/dashboard/country" routerLinkActive="active" href="#"><i class="fa fa-globe"></i><span class="d-sm--none"> {{ "Country" | translate }}</span></a>
    <a routerLink="/dashboard/itemtype" routerLinkActive="active" href="#"><i class="fa fa-tasks"></i><span class="d-sm--none"> {{ "Product Type" | translate }}</span></a>
    <a routerLink="/dashboard/section" routerLinkActive="active" href="#"><i class="fa fa-tasks"></i><span class="d-sm--none"> {{ "Section" | translate }}</span></a>
    <a routerLink="/dashboard/request-category" routerLinkActive="active" href="#"><i class="fa fa-tasks"></i><span class="d-sm--none"> {{ "Lead Category" | translate }}</span></a>
    <a routerLink="/dashboard/contactus" routerLinkActive="active" href="#"><i class="fa fa-tasks"></i><span class="d-sm--none"> {{ "Contact Us" | translate }}</span></a>
    <a routerLink="/dashboard/security/roles" routerLinkActive="active"href="#"><i class="fa fa-key"></i><span class="d-sm--none"> {{ "Roles" | translate }}</span></a>
</div> -->

<nav class="row navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="sidebar">
            <a routerLinkActive="active" routerLink="/dashboard/home" href="#"><i class="fa fa-home"></i><span class="d-sm--none"> {{ "Home" | translate }}</span></a>
            <a routerLink="/dashboard/accounts/list" routerLinkActive="active"  href="#"><i class="fa fa-users"></i><span class="d-sm--none"> {{ "Members" | translate }}</span></a>
            <a routerLink="/dashboard/product/list" routerLinkActive="active" href="#"><i class="fa fa-maxcdn"></i><span class="d-sm--none"> {{ "Products" | translate }}</span></a>
            <a routerLink="/dashboard/view-requests" routerLinkActive="active" href="#"><i class="fa fa-tasks"></i><span class="d-sm--none"> {{ "Leads" | translate }}</span></a>
            <a routerLink="/dashboard/subscriptions" routerLinkActive="active" href="#"><i class="fa fa-tasks"></i><span class="d-sm--none"> {{ "Subscriptions" | translate }}</span></a>
            <a routerLink="/dashboard/orders/waiting" routerLinkActive="active" href="#"><i class="fa fa-tasks"></i><span class="d-sm--none"> {{ "Orders" | translate }}</span></a>
            <a routerLink="/dashboard/setting" routerLinkActive="active" href="#"><i class="fa fa-cogs"></i><span class="d-sm--none"> {{ "Setting" | translate }}</span></a>
            <a routerLink="/dashboard/category" routerLinkActive="active" href="#"><i class="fa fa-tags"></i><span class="d-sm--none"> {{ "Category" | translate }}</span></a>
            <a routerLink="/dashboard/city" routerLinkActive="active" href="#"><i class="fa fa-map-marker"></i><span class="d-sm--none"> {{ "City" | translate }}</span></a>
            <a routerLink="/dashboard/country" routerLinkActive="active" href="#"><i class="fa fa-globe"></i><span class="d-sm--none"> {{ "Country" | translate }}</span></a>
            <a routerLink="/dashboard/itemtype" routerLinkActive="active" href="#"><i class="fa fa-tasks"></i><span class="d-sm--none"> {{ "Product Type" | translate }}</span></a>
            <a routerLink="/dashboard/section" routerLinkActive="active" href="#"><i class="fa fa-tasks"></i><span class="d-sm--none"> {{ "Section" | translate }}</span></a>
            <a routerLink="/dashboard/request-category" routerLinkActive="active" href="#"><i class="fa fa-tasks"></i><span class="d-sm--none"> {{ "Lead Category" | translate }}</span></a>
            <a routerLink="/dashboard/contactus" routerLinkActive="active" href="#"><i class="fa fa-tasks"></i><span class="d-sm--none"> {{ "Contact Us" | translate }}</span></a>
            <a routerLink="/dashboard/security/roles" routerLinkActive="active"href="#"><i class="fa fa-key"></i><span class="d-sm--none"> {{ "Roles" | translate }}</span></a>
            <a routerLink="/dashboard/translate-editor" routerLinkActive="active"href="#"><i class="fa fa-key"></i><span class="d-sm--none"> {{ "Translation" | translate }}</span></a>
        </div>
    </div>
</nav>