// component css goes here
.chk-block-title {
    padding: 1rem 1.25rem !important;
}
.dataTables_length select{
    border: 1px solid #ddd;
    color:#555;
}
.dataTables_length label{
    color:#555;
} 
.dataTables_filter label{
    color:#555;
}
.dataTables_filter input{
    border: 1px solid #ddd !important;
    box-shadow: 0px 1px 2px #CCC !important;
}
.requests table{
    width:100% !important;
}
.dataTables_info {
    color:#555;
}