<div class="pwd-form" [formGroup]="form">
<h2>{{"Change Password"|translate}}</h2>
<hr/>
    <div class="form-group" >
        <label>{{"Current Password"|translate}}</label>
        <input type="password" class="form-control" name="current" [(ngModel)]="request.current" formControlName="Ctrl_current"/>
 
        <div *ngIf="form.controls['Ctrl_current'].invalid && (form.controls['Ctrl_current'].dirty || form.controls['Ctrl_current'].touched)"
                class="text-danger">
            <span *ngIf="form.controls['Ctrl_current'].errors.required">
                {{"Current Password"|translate}} {{ "is required." | translate }}
            </span>
            <span *ngIf="form.controls['Ctrl_current'].errors.minlength">
                {{"Current Password"|translate}} {{ "be at least 6 characters long" | translate }}
            </span>
        </div>
    </div>
    <div class="form-group">
        <label>{{"New Password"|translate}}</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="request.password" formControlName="Ctrl_password"/>
        <div *ngIf="form.controls['Ctrl_password'].invalid && (form.controls['Ctrl_password'].dirty || form.controls['Ctrl_password'].touched)"
                class="text-danger">
            <span *ngIf="form.controls['Ctrl_password'].errors.required">
                {{"New Password"|translate}} {{ "is required." | translate }}
            </span>
            <span *ngIf="form.controls['Ctrl_password'].errors.minlength">
                {{"New Password"|translate}} {{ "be at least 6 characters long" | translate }}
            </span>
        </div>
    </div>
    <div class="form-group">
        <label>{{"Confirm Password"|translate}}</label>
        <input type="password" class="form-control" name="cpassword" [(ngModel)]="request.cpassword" formControlName="Ctrl_cpassword"/>
        <div *ngIf="form.controls['Ctrl_cpassword'].invalid && (form.controls['Ctrl_cpassword'].dirty || form.controls['Ctrl_cpassword'].touched)"
                class="text-danger">
            <span *ngIf="form.controls['Ctrl_cpassword'].errors.required">
                {{"Confirm Password"|translate}} {{ "is required." | translate }}
            </span>
            <span *ngIf="form.controls['Ctrl_cpassword'].errors.minlength">
                {{"Confirm Password"|translate}} {{ "be at least 6 characters long" | translate }}
            </span>
            <span *ngIf="form.controls['Ctrl_password'].value!=form.controls['Ctrl_cpassword'].value">
                {{"`The Password` and `Confirm Password` not matches"|translate}}
            </span>
        </div>
    </div>
    <div class="form-group text-center">
        <input type="button" class="btn btn-primary btn--block" [disabled]="!form.valid" (click)="savePassword()" value="{{'Change Password'|translate}}"/>
    </div>
</div>
