.footer {
    box-shadow: 0px -3px #eee;
    border-top: 1px solid #ddd;
  }

  .header {
    box-shadow: 0px 3px #eee;
    border-bottom: 1px solid #ddd;
  }
  .dashboard-title{
    background: #953be8;
    padding: 10px 35px;
  }
  .dashboard-title h1{
    color:#fff;
    font-weight: bold;
  }
  .dashboard-header{
    padding-top: 20px;
  }