



<div class="">
    <div class="home-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                        <h1>{{ "Find Safe Marketplace" | translate }}</h1>
                        <h3>{{ "Helps you to get WOW OFFERS with Zero Headaches" | translate }}</h3>
    
                </div>
                
                <div [class.col-md-6]="!shared.isLeadSent()" class="col sidebar-home">
                    <new-arrivals></new-arrivals>
                </div>
                <div class="col-md-6" *ngIf="!shared.isLeadSent()">
                    <div class="col find_your_price  ">
                            <div class="row align-items-center  " style="min-height:370px" >
                            <div class="col">
                                    <div class="text-center" style="margin-bottom: 20px;" *ngIf="loaded && (allow || !shared.isLogin())">
                                        <h1 style="margin-bottom: 0px;font-size: 32px;">{{"customer_desc1" | translate}}</h1>
                                        <small>{{"customer_desc2" | translate}}</small>
                                    </div>
                                    <div class="row" *ngIf="!allow && shared.isLogin()">
                                        <div class="col text-center">
                                            <h1>{{"Please waiting to can send a new request"|translate}}</h1>
                                            <br/>
                                            <h2 class="timer">{{waitingTime}}</h2>
                                            <!--{{waitingTime}}-->
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="loaded && (allow || !shared.isLogin())">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="">{{"Choose Category" | translate}}</label>
                                                <select class="custom-select color-primary square" [(ngModel)]="root_id" (change)="req_loadParents(root_id)">
                                                    <option *ngFor="let cat of roots" value="{{cat.id}}">{{cat.name}}</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="">{{"Choose Product" | translate}}</label>
                                                <select class="custom-select color-primary square"  [(ngModel)]="parent_id" (change)="req_loadCategories(parent_id)">   
                                                    <option *ngFor="let cat of parents" value="{{cat.id}}">{{cat.name}}</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="">{{"Choose Features" | translate}}</label>
                                                <select class="custom-select color-primary square"  [(ngModel)]="data.category_id" >                     
                                                    <option *ngFor="let cat of req_categories" value="{{cat.id}}">{{cat.name}}</option>
                                                </select>
                                            </div>
                                           
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="">{{"From Price" | translate}}</label>
                                                <input type="number" OnlyNumber="true" class="form-control"  [(ngModel)]="data.price_from" placeholder="{{'From Price' | translate}}">
                                            </div>
                                            <div class="form-group">
                                                <label class="">{{"To Price" | translate}}</label>
                                                <input type="number" OnlyNumber="true" class="form-control" [(ngModel)]="data.price_to" placeholder="{{'To Price' | translate}}">
                                            </div>
                                            <div class=" form-group">
                                                <label class="">{{"Your Search" | translate}}</label>
                                                <input type="text" class="form-control"  [(ngModel)]="data.requestText" 
                                                placeholder="{{'Write Down Your Search Here' | translate}}"/>
                                            </div>
                                        </div>
                            
                                        <div class="w-100"></div>
                                    
                                        <div class="col col-sm-12 text-center">
                                            <button class="btn btn-primary btn-findPrice" (click)="req_sendRequest()">  {{"Search Now" | translate}} 
                                                <i class="fa fa-long-arrow-right"></i></button>
                                        </div>
                                    </div>  
                                </div>    


                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    




<counter-section></counter-section>


<div class="clearfix"></div>
<div class="row category-select">
    <div class="container chose-cat text-center">
        <div class="searchCategory">
            <ul class="list-inline owl-carousel owl-theme">
                <!-- <li class="list-inline-item">
                    <a href="javascript:;" (click)="searchCatBack()" class="btn btn-link sear-ch-arrow-left">
                        <i class="fa fa-chevron-left"></i></a>
                </li> -->
                
                <li class="list-inline-item text-center item" *ngFor="let category of categories">
                    <div class="cat-block ">
                        <a href="#" routerLink="/cat/{{category.name}}">
                        <img src="{{global.host}}/{{category.image}}" class="cat-middle img-fluid" 
                            alt="{{category.name}}"/>
                        
                        </a>
                    </div>
                    <div class="cat-bottom">{{category.name}}</div>
                </li>
                
                <!-- <li class="list-inline-item">
                    <a href="javascript:;" (click)="searchCatNext()" class="btn btn-link sear-ch-arrow-right">
                        <i class="fa fa-chevron-right"></i></a>
                </li> -->
            </ul>
        </div>
    </div>
</div>

<category-section *ngFor="let id of global.settings.cat_in_home.split(',');let i=index" [id]="id" [alt]="i%2>0"></category-section>
      
<div class="row newsletter">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h3>{{ "Newsletter" | translate }}</h3>
                <p>{{ "Subscribe to get information about new MeTooKey" | translate }}</p>
            </div>
            <div class="col-sm-7">
                <div class="input-group">
                    <input type="text" class="form-control" style="font-size: 1.6rem" [(ngModel)]="email" 
                    placeholder="{{ 'Send Request'| translate}}" name="txtRequestText" [(ngModel)]=textRequest>
                    <div class="input-group-btn">
                        <button class="btn btn-default" (click)="sendRequest()" type="submit">
                                {{ "Submit" | translate }}
                        </button>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div><!-- End .newsletter -->

