// component css goes here
.viewUsers span{
    color:#777;
}
.viewUsers .icon-status-block{
    position: absolute;
    top: 9px;
    right: 7px;
    opacity: 0.7;
}
.viewUsers .notes{
    height: 70px;
}
table{text-align: center}

